*{
    margin: 0;
    padding: 0;
}

.modal{
    width: clamp(50%, 700px, 90%);
    height: min(60%, 500px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f26a8ce8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.innercont{
    background: #CBEEF3;
    padding: 20px;
    margin: 20px 50px;
    color: black;
    width: clamp(60%, 700px, 93%);
    height: min(70%, 500px);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
